html,body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

img.icon { height: 1em; }
img.icon-lg { height: 2em; }

.xs-margin-top { margin-top: 0.5em; }
.xs-margin-left { margin-left: 0.5em; }
.xs-margin-right { margin-right: 0.5em; }
.xs-margin-bottom { margin-bottom: 0.5em; }
.xs-padding-horiz {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sm-margin-top { margin-top: 1em; }
.sm-margin-left { margin-left: 1em; }
.sm-margin-right { margin-right: 1em; }
.sm-margin-bottom { margin-bottom: 1em; }
.sm-padding-horiz {
  padding-left: 1em;
  padding-right: 1em;
}

.md-margin-top { margin-top: 2em; }
.md-margin-left { margin-left: 2em; }
.md-margin-right { margin-right: 2em; }
.md-margin-bottom { margin-bottom: 2em; }

.md-padding-top { padding-top: 2em; }
.md-padding-left { padding-left: 2em; }
.md-padding-right { padding-right: 2em; }
.md-padding-bottom { padding-bottom: 2em; }
.md-padding-horiz {
  padding-left: 2em;
  padding-right: 2em;
}

.lg-padding-top { padding-top: 3em; }
.lg-padding-left { padding-left: 3em; }
.lg-padding-right { padding-right: 3em; }
.lg-padding-bottom { padding-bottom: 3em; }
.lg-padding-horiz {
  padding-left: 3em;
  padding-right: 3em;
}

.float-right { float: right; }

.slim-text { font-weight: 300; }
.slimmer-text { font-weight: 200; }

.placeholder-1em {
  width: 1em;
  display: inline-block
}

.inbox-blue-bg { background-color: #2285c6; }
.white-fg { color: white; }

/** https://flatuicolors.com/palette/defo */
.draft-gray-bg { background-color: #7f8c8d; }
.important-red-bg { background-color: #e74c3c; }
.starred-orange-bg { background-color: #f39c12; }

.gray-boxed {
  padding: 0.5em;
  background-color: #DDD;
  border: 1.5px solid  #BBB;
}

.clickable { cursor: pointer; }

.valign-mid { vertical-align: middle; }

.app-page {
  display: flex;
  flex-direction: columns;
  min-height: 100%;
  width: 100%;
}

.app-page >  div:nth-of-type(2) {
  width: 100%;
}


/**********/
/* LHSNav */
/**********/

.component .lhs-nav {
  min-width: 25vw;
  background-color: #2e3740;
  color: white;
}

.component .lhs-nav hr {
  width: 80%;
  border: 1px solid #202529;
  margin: 0 auto;
}

.component .lhs-nav header {
  display: flex;
  padding: 1em; 0;
  justify-content: center;
  align-items: center;
}

/****************/
/* HeaderButton */
/****************/

.component.header-button {
  border-radius: 20em;
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: 1px solid black;
  padding: 0.5em 2em;
  box-shadow: inset 0px 0px 5px black;
  cursor: pointer
}

/******************/
/* NavItemListing */
/******************/

.component.nav-item-listing {
  list-style: none;
  padding: 0;
  margin: 0;
}

.component.nav-item-listing > .component.nav-item:first-child {
  margin-top: 0;
}

/***********/
/* NavItem */
/***********/

.component.nav-item {
  padding: 1em; 0;
}

.component.nav-item.selected {
  background-color: rgba(0,0,0,0.4);
  box-shadow: inset 0 0 5px black;
}

/*********/
/* Badge */
/*********/

.component.badge {
  min-width: 1em;
  text-align: center;
  display: inline-block;
  padding: .25em;
  border-radius: .25em;
}

.component.badge.empty-square {
  min-width: 1em;
  height: 1em;
  width: 1em;
}

/*************/
/* RHSHeader */
/*************/

.component.rhs-header {
  box-sizing: border-box;
  height: 5em;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component.rhs-header .title { font-size: 2em; }

.component.rhs-header .new-count {
  margin-left: .25em;
  padding-top: .5em;
}

.component.rhs-header img.avatar {
  height: 2em;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid #AAA;
}

/***************/
/* ButtonGroup */
/***************/

.component.button-group button {
  height: 3em;
  padding: 0.5em 1em;
  background-color: #EFEFEF;
  border: 1.5px solid  #BBB;
}

.component.button-group button:first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

.component.button-group button:last-child {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

/*************/
/* EmailList */
/*************/

.component.email-list {
  overflow: none, scroll;
}

/*****************/
/* EmailListItem */
/*****************/

.component.email-list-item .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em;
}

.component.email-list-item {
  padding: 1em;
  border-bottom: 2px solid #EFEFEF;
}

.component.email-list-item .sender {
  font-weight: bold;
}

.component.email-list-item .blurb .body-preview {
  color: gray;
}

.component.email-list-item.selected {
  background-color: #b4eced;
  border-left: .5em solid #02bfc0;
}

/********************/
/* Mail Page Subnav */
/********************/

.component.mail-page-subnav {
  background-color: #EEE;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}

/********************/
/* LoadingIndicator */
/********************/

.component.loading-indicator {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  padding-top: 30vh;

  color: #999;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.component.loading-indicator .icon.loading-icon {
  font-size: 6em;
  animation: 2s spin infinite;
}

.component.loading-indicator .title {
  font-size: 3em;
}
